<%= form_tag(export_patient_path,method: :get, class: 'form-inline float-right')  do %>
    <div class="form-group mx-sm-3">
      <%= select_tag 'file_format', options_for_select([['CSV', 'csv'],['JSON', 'json'],['XML', 'xml']], params[:file_format]) , class: 'form-control' %>
    </div>
    <%= hidden_field_tag :term, params[:term] %>
    <%= hidden_field_tag :is_insured, params[:is_insured] %>
    <%= hidden_field_tag :sort_by, params[:sort_by] %>
    <%= hidden_field_tag :order, params[:order] %>
    <div class="form-group">
      <%= submit_tag 'Export',name: nil, class: 'btn btn-info' %>
    </div>
<% end %>